{% extends 'shablon.html' %}

{% block title %}
Герои фильмов
{% endblock %}

{% block content %}
    <div class="card" style="width: 18rem;">
  <img src="{{ url_for('static', filename='still-life.jpg') }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Главный герой в Ципленке</h5>
    <p class="card-text">Наш герой спасает ципленка, который превращается в черного лебедя, и в память о спасении уносит героя в Валинор</p>
    <a href="#" class="btn btn-primary">{{link}}</a>
  </div>
</div>
{% endblock %}

